.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(36, 36, 36);
  margin-top: 16px;
  max-width: 100%;

  @media only screen and (min-width: 1248px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
  }

  .movie {
    display: flex;
    flex-direction: row;
    width: 80vw;
    @media only screen and (min-width: 1248px) {
      max-width: 600px;
    }

    align-items: center;
    word-break: break-all;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
.user-movies {
  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}
