* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
}

.movie {
  display: flex;
  padding: 16px;
  background-color: white;

  .image {
    #image {
      height: 100px;
      padding-right: 16px;
      border-radius: 0.5rem;
    }
  }
  .info {
    #title {
      margin-bottom: 8px;
    }
  }
}
